.version.index /* version checker */
{
	color: #000011;
	background-color: #4381A8;
}

.html
{
	background-color: #1F1F1F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6441.450000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	width: 0.01px;
}

#pu1462
{
	width: 0.01px;
	margin-left: -100px;
}

#u1462
{
	z-index: 387;
	min-height: 837.6600000000002px;
	padding-bottom: 0px;
}

#u1462_position_content
{
	padding-top: 103px;
}

#u188
{
	z-index: 390;
	left: 739px;
}

#pu707
{
	width: 0.01px;
	left: 448px;
	margin-top: 463px;
	position: relative;
}

#u707
{
	z-index: 392;
	width: 14px;
	margin-right: -10000px;
}

#u706-4
{
	z-index: 393;
	width: 202px;
	min-height: 18px;
	margin-right: -10000px;
	left: 22px;
}

#u157
{
	z-index: 397;
	left: 430px;
	margin-top: 165px;
}

#u1462-bw
{
	z-index: 387;
	min-height: 837.6600000000002px;
}

#u172
{
	z-index: 388;
	margin-right: -10000px;
	margin-top: 725px;
	left: 775px;
}

#u177
{
	z-index: 389;
	margin-right: -10000px;
	margin-top: 100px;
	left: 354px;
}

#u345
{
	z-index: 391;
	margin-right: -10000px;
	margin-top: 392px;
	left: 222px;
}

#u167
{
	z-index: 398;
	margin-right: -10000px;
	margin-top: 433px;
	left: 500px;
}

#u236
{
	z-index: 399;
	width: 676px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 270px;
	left: 323px;
}

#pu145-4
{
	width: 0.01px;
	margin-left: 109px;
}

#u145-4
{
	z-index: 400;
	width: 111px;
	margin-right: -10000px;
}

#u145-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 111px;
	margin: 0px -10000px 0px 0px;
}

#u351-4
{
	z-index: 404;
	width: 193px;
	margin-right: -10000px;
	left: 121px;
}

#u154-15
{
	z-index: 408;
	width: 676px;
	margin-top: 6px;
}

#aboutme
{
	width: 22px;
	margin-right: -10000px;
	left: 51px;
}

#pu1932
{
	width: 0.01px;
	padding-bottom: 69px;
	margin-left: -100px;
	margin-top: -838px;
}

#u1932
{
	z-index: 423;
	height: 69px;
	top: -1px;
}

#u1932-bw
{
	z-index: 423;
}

#u2570-4
{
	z-index: 437;
	width: 139px;
	min-height: 40px;
	top: 8px;
	left: 50%;
	margin-left: -480px;
}

#u2570-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 139px;
	margin: 0px 0px 0px -480px;
}

#u194-4
{
	z-index: 424;
	width: 103px;
	min-height: 26px;
	top: 19px;
	left: 50%;
	margin-left: 280px;
}

#u194-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 103px;
	margin: 0px 0px 0px 280px;
}

#u195-4
{
	z-index: 432;
	width: 49px;
	min-height: 26px;
	top: 19px;
	left: 50%;
	margin-left: 397px;
}

#u195-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 49px;
	margin: 0px 0px 0px 397px;
}

#u2444-4
{
	z-index: 428;
	width: 103px;
	min-height: 26px;
	top: 19px;
	left: 50%;
	margin-left: 460px;
}

#u2444-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 103px;
	margin: 0px 0px 0px 460px;
}

#stop1
{
	margin-left: 62px;
	margin-top: 16px;
}

#pu1188
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 83px;
}

#u1188
{
	z-index: 26;
	width: 782px;
	margin-right: -10000px;
	left: 35px;
}

#u209-4
{
	z-index: 64;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#pu299
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 160px;
}

#u299
{
	z-index: 27;
	width: 622px;
	padding-bottom: 0px;
}

#u234-4
{
	z-index: 28;
	width: 163px;
	min-height: 27px;
	margin-left: 226px;
}

#u242-32
{
	z-index: 32;
	width: 622px;
	margin-top: 21px;
}

#pu466
{
	width: 0.01px;
	margin-top: 15px;
}

#u466
{
	z-index: 74;
	width: 205px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u459
{
	z-index: 75;
	margin-right: -10000px;
}

#u445
{
	z-index: 76;
	margin-right: -10000px;
}

#u464
{
	z-index: 68;
	width: 205px;
	margin-right: -10000px;
	left: 209px;
}

#u449
{
	z-index: 69;
	margin-right: -10000px;
}

#u438
{
	z-index: 70;
	margin-right: -10000px;
}

#u465
{
	z-index: 71;
	width: 205px;
	margin-right: -10000px;
	left: 417px;
}

#u454
{
	z-index: 72;
	margin-right: -10000px;
}

#u441
{
	z-index: 73;
	margin-right: -10000px;
}

#stop2
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 427px;
}

#u1078
{
	z-index: 113;
	margin-right: -10000px;
	margin-top: 5px;
	left: 355px;
}

#u1211
{
	z-index: 232;
	width: 785px;
	margin-left: 63px;
	margin-top: 99px;
}

#u479-4
{
	z-index: 233;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1152
{
	z-index: 267;
	margin-right: -10000px;
	margin-top: 2px;
	left: 293px;
}

#u480-4
{
	z-index: 237;
	width: 225px;
	min-height: 27px;
	margin-right: -10000px;
	left: 360px;
}

#u482
{
	z-index: 241;
	width: 625px;
	margin-left: 160px;
	margin-top: 19px;
}

#u486-19
{
	z-index: 242;
	width: 625px;
	margin-right: -10000px;
}

#pu856
{
	width: 0.01px;
	margin-left: 260px;
	margin-top: 17px;
}

#u856
{
	z-index: 261;
	width: 205px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u624
{
	z-index: 262;
	margin-right: -10000px;
}

#u635
{
	z-index: 263;
	margin-right: -10000px;
}

#u865
{
	z-index: 264;
	width: 205px;
	margin-right: -10000px;
	left: 209px;
}

#u857
{
	z-index: 265;
	margin-right: -10000px;
}

#u862
{
	z-index: 266;
	margin-right: -10000px;
}

#u1212
{
	z-index: 114;
	width: 782px;
	margin-left: 62px;
	margin-top: 96px;
}

#u607-4
{
	z-index: 115;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 5px;
}

#ppu1081
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 160px;
}

#pu1081
{
	width: 0.01px;
	margin-left: 165px;
}

#u1081
{
	z-index: 146;
	width: 64px;
	margin-right: -10000px;
}

#u1068
{
	z-index: 147;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u1065
{
	z-index: 148;
	margin-right: -10000px;
}

#u608-4
{
	z-index: 119;
	width: 148px;
	min-height: 27px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 69px;
}

#u622
{
	z-index: 123;
	width: 622px;
	margin-top: 20px;
}

#u623-22
{
	z-index: 124;
	width: 622px;
	margin-right: -10000px;
}

#u1213
{
	z-index: 149;
	width: 782px;
	padding-bottom: 0px;
	margin-left: 62px;
	margin-top: 94px;
}

#u638-4
{
	z-index: 150;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1082
{
	z-index: 175;
	margin-right: -10000px;
	left: 228px;
}

#u639-4
{
	z-index: 154;
	width: 342px;
	min-height: 27px;
	margin-right: -10000px;
	left: 300px;
}

#u640
{
	z-index: 158;
	width: 622px;
	margin-left: 160px;
	margin-top: 20px;
}

#u641-10
{
	z-index: 159;
	width: 622px;
	margin-right: -10000px;
}

#pu876
{
	width: 0.01px;
	margin-left: 260px;
	margin-top: 20px;
}

#u876
{
	z-index: 169;
	width: 205px;
	margin-right: -10000px;
}

#u866
{
	z-index: 170;
	margin-right: -10000px;
}

#u871
{
	z-index: 171;
	margin-right: -10000px;
}

#u1018
{
	z-index: 172;
	width: 205px;
	margin-right: -10000px;
	left: 208px;
}

#u1010
{
	z-index: 173;
	margin-right: -10000px;
}

#u1015
{
	z-index: 174;
	margin-right: -10000px;
}

#pu1219
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 99px;
}

#u1219
{
	z-index: 329;
	width: 783px;
	margin-right: -10000px;
}

#u642-4
{
	z-index: 330;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#u643-4
{
	z-index: 334;
	width: 133px;
	min-height: 27px;
	margin-left: 240px;
}

#u644
{
	z-index: 338;
	width: 622px;
	margin-top: 20px;
}

#u645-18
{
	z-index: 339;
	width: 622px;
	margin-right: -10000px;
}

#u1248
{
	z-index: 357;
	margin-right: -10000px;
	left: 334px;
}

#u1218
{
	z-index: 177;
	width: 783px;
	padding-bottom: 0px;
	margin-left: 63px;
	margin-top: 95px;
}

#pu479-4,#pu638-4,#pu652-4
{
	width: 0.01px;
}

#u652-4
{
	z-index: 178;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#u1092
{
	z-index: 231;
	margin-right: -10000px;
	margin-top: 8px;
	left: 225px;
}

#u653-4
{
	z-index: 182;
	width: 354px;
	min-height: 27px;
	margin-right: -10000px;
	left: 291px;
}

#u654
{
	z-index: 186;
	width: 622px;
	margin-left: 161px;
	margin-top: 20px;
}

#u655-35
{
	z-index: 187;
	width: 622px;
	margin-right: -10000px;
}

#pu1009
{
	width: 0.01px;
	margin-left: 161px;
	margin-top: 17px;
}

#u1009
{
	z-index: 225;
	width: 205px;
	margin-right: -10000px;
}

#u986
{
	z-index: 226;
	margin-right: -10000px;
}

#u989
{
	z-index: 227;
	margin-right: -10000px;
}

#u1007
{
	z-index: 222;
	width: 205px;
	margin-right: -10000px;
	left: 208px;
}

#u983
{
	z-index: 223;
	margin-right: -10000px;
}

#u1001
{
	z-index: 224;
	margin-right: -10000px;
}

#u1008
{
	z-index: 228;
	width: 205px;
	margin-right: -10000px;
	left: 417px;
}

#u991
{
	z-index: 229;
	margin-right: -10000px;
}

#u1004
{
	z-index: 230;
	margin-right: -10000px;
}

#u1222
{
	z-index: 301;
	width: 782px;
	margin-left: 63px;
	margin-top: 100px;
}

#u656-4
{
	z-index: 324;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#pu1142
{
	width: 0.01px;
	margin-left: 129px;
}

#u1142
{
	z-index: 328;
	margin-right: -10000px;
	margin-top: 6px;
}

#u657-4
{
	z-index: 302;
	width: 224px;
	min-height: 27px;
	margin-right: -10000px;
	left: 66px;
}

#u658
{
	z-index: 306;
	width: 622px;
	margin-top: 20px;
}

#u659-17
{
	z-index: 307;
	width: 622px;
	margin-right: -10000px;
}

#pu1228
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: 95px;
}

#u1228
{
	z-index: 78;
	width: 782px;
	margin-right: -10000px;
}

#u667-4
{
	z-index: 109;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#ppu1142,#pu666-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 160px;
}

#u666-4
{
	z-index: 79;
	width: 194px;
	min-height: 27px;
	margin-left: 210px;
}

#u664
{
	z-index: 83;
	width: 622px;
	margin-top: 20px;
}

#u665-25
{
	z-index: 84;
	width: 622px;
	margin-right: -10000px;
}

#u1117
{
	z-index: 176;
	margin-right: -10000px;
	left: 304px;
}

#pu237
{
	width: 0.01px;
	margin-left: -2px;
	margin-top: 97px;
}

#u237
{
	z-index: 24;
	width: 44px;
	margin-right: -10000px;
}

#u1227
{
	z-index: 268;
	width: 783px;
	margin-right: -10000px;
	left: 65px;
}

#u660-4
{
	z-index: 287;
	width: 160px;
	min-height: 27px;
	margin-right: -10000px;
}

#pu643-4,#ppu1125
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 161px;
}

#pu1125
{
	width: 0.01px;
	margin-left: 119px;
}

#u1125
{
	z-index: 300;
	margin-right: -10000px;
	margin-top: 16px;
}

#u661-4
{
	z-index: 269;
	width: 242px;
	min-height: 27px;
	margin-right: -10000px;
	left: 66px;
}

#u662
{
	z-index: 273;
	width: 622px;
	margin-top: 21px;
}

#u663-13
{
	z-index: 274;
	width: 622px;
	margin-right: -10000px;
}

#pu974
{
	width: 0.01px;
	margin-top: 17px;
}

#u974
{
	z-index: 291;
	width: 205px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u953
{
	z-index: 292;
	margin-right: -10000px;
}

#u971
{
	z-index: 293;
	margin-right: -10000px;
}

#u981
{
	z-index: 294;
	width: 205px;
	margin-right: -10000px;
	left: 209px;
}

#u959
{
	z-index: 295;
	margin-right: -10000px;
}

#u975
{
	z-index: 296;
	margin-right: -10000px;
}

#u982
{
	z-index: 297;
	width: 205px;
	margin-right: -10000px;
	left: 417px;
}

#u956
{
	z-index: 298;
	margin-right: -10000px;
}

#u978
{
	z-index: 299;
	margin-right: -10000px;
}

#u445:hover,#u438:hover,#u441:hover,#u635:hover,#u862:hover,#u1065:hover,#u871:hover,#u1015:hover,#u989:hover,#u1001:hover,#u1004:hover,#u971:hover,#u975:hover,#u978:hover
{
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pu729
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 18px;
}

#u729_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
	padding-top: 80px;
	padding-bottom: 48px;
}

#portfolio
{
	left: 98px;
}

#u714-4
{
	z-index: 19;
	width: 212px;
	min-height: 56px;
	left: 109px;
	margin-top: 57px;
}

#u729,#u729-bw
{
	z-index: 3;
	min-height: 261px;
}

#u715
{
	z-index: 4;
	margin-right: -10000px;
	margin-top: 153px;
	left: 35px;
}

#pu1182
{
	width: 0.01px;
	margin-left: 22px;
}

#u1182
{
	z-index: 5;
	width: 420px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u760
{
	z-index: 6;
	width: 420px;
	margin-right: -10000px;
}

#u1177
{
	z-index: 7;
	width: 420px;
	margin-right: -10000px;
}

#u1186
{
	z-index: 8;
	width: 420px;
	margin-right: -10000px;
	left: 508px;
}

#u836
{
	z-index: 9;
	width: 420px;
	margin-right: -10000px;
}

#u1183
{
	z-index: 10;
	width: 420px;
	margin-right: -10000px;
}

#pu2293-4
{
	width: 0.01px;
	margin-left: 102px;
	margin-top: 26px;
}

#u2293-4
{
	z-index: 11;
	width: 239px;
	min-height: 30px;
	margin-right: -10000px;
}

#u2294-4
{
	z-index: 15;
	width: 184px;
	min-height: 30px;
	margin-right: -10000px;
	left: 544px;
}

#pu3202
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 34px;
}

#u3202
{
	z-index: 362;
	width: 420px;
	margin-right: -10000px;
}

#u3205
{
	z-index: 363;
	width: 420px;
	margin-right: -10000px;
}

#u3203
{
	z-index: 364;
	width: 420px;
	margin-right: -10000px;
}

#u3198
{
	z-index: 359;
	width: 420px;
	margin-right: -10000px;
	left: 510px;
}

#u3201
{
	z-index: 360;
	width: 420px;
	margin-right: -10000px;
}

#u3199
{
	z-index: 361;
	width: 420px;
	margin-right: -10000px;
}

#u1177:hover,#u1183:hover,#u3203:hover,#u3199:hover
{
	width: 420px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#pcontact
{
	width: 0.01px;
	margin-left: -75px;
	margin-top: 26px;
}

#contact
{
	width: 22px;
	margin-right: -10000px;
	margin-top: 21px;
}

#u3206-4
{
	z-index: 365;
	width: 120px;
	min-height: 30px;
	margin-right: -10000px;
	left: 236px;
}

#u3207-4
{
	z-index: 369;
	width: 159px;
	min-height: 30px;
	margin-right: -10000px;
	left: 746px;
}

#pu713
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -871px;
}

#u713,#u713-bw
{
	z-index: 2;
	height: 975px;
}

#u2426
{
	z-index: 373;
	height: 279px;
}

#u2426-bw
{
	z-index: 373;
	margin-top: 889px;
	height: 279px;
}

#u591
{
	z-index: 374;
	min-height: 160px;
	padding-bottom: 12px;
}

#u1462_align_to_page,#u591_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	left: -100px;
}

#u604-4
{
	z-index: 375;
	width: 399px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 400px;
}

#u591-bw
{
	z-index: 374;
	min-height: 160px;
	margin-top: 996px;
}

#u2427
{
	z-index: 379;
	width: 50px;
	margin-right: -10000px;
	margin-top: 948px;
	left: 558px;
}

#u2430
{
	z-index: 380;
	width: 50px;
	margin-right: -10000px;
	margin-top: 948px;
	left: 692px;
}

#u2427:hover,#u2430:hover
{
	width: 50px;
	min-height: 0px;
	margin: 948px -10000px 0px 0px;
}

#pamphletu2451
{
	z-index: 381;
	width: 0.01px;
	height: 108px;
	padding-bottom: 118px;
	margin-right: -10000px;
	margin-top: 890px;
	left: 152px;
}

#u2454popup
{
	z-index: 382;
}

#u2454
{
	width: 242px;
}

#u2455
{
	z-index: 383;
	width: 242px;
	height: 226px;
	margin-right: -10000px;
}

#u2472
{
	z-index: 384;
	width: 50px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 272px;
}

#u2473
{
	width: 130px;
	padding-bottom: 1px;
	top: -8px;
	left: -80px;
}

#u2473:hover
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u2473.PamphletThumbSelected
{
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u2433
{
	z-index: 386;
	margin-right: -10000px;
	margin-top: 8px;
	left: 80px;
}

#u2473:hover #u2433
{
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u2473.PamphletThumbSelected #u2433
{
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
}

